<div class="fgrid">

  <div class="content fgrid__sitemap">
    <img src="/assets/icons/logo-footer.svg" alt="SoM logo" class="footer__logo">
    <h5>Sitemap</h5>

    <ul class="reset footer__sitemap">
      <li><a href="/">Home</a></li>
      <li><a href="/our-story">Our story</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <hr class="fgrid__hr-1">

  <div class="content fgrid__facebook">
    <a href="https://facebook.com/somNBAA" class="footer__facebook">
      <img src="/assets/icons/facebook.svg" role="presentation">
      Follow us on Facebook
    </a>
  </div>

  <hr class="fgrid__hr-2">

  <div class="content fgrid__sponsors">
    <h5>Sponsors</h5>

    <ul class="sponsors reset">
      {% for sponsor in site.data.sponsors %}
        <li>
          <a href="{{ sponsor.url }}">
            <img src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}'s logo'">
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
  <div class="content fgrid__copyright">
    <p>Copyright &copy; 2018 National Black Arts Alliance</p>
  </div>
</div>
