<div class="fgrid">

  <div class="fgrid__sitemap">
    <img src="/assets/icons/logo-footer.svg" alt="SoM logo" class="footer__logo">
    <h5>Sitemap</h5>

    <ul class="reset footer__sitemap">
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <hr class="fgrid__hr-1">

  <div class="fgrid__facebook">
    <a href="https://facebook.com/somNBAA" class="footer__facebook">
      <img src="/assets/icons/facebook.svg" role="presentation">
      Follow us on Facebook
    </a>
  </div>

  <hr class="fgrid__hr-2">

  <div class="fgrid__sponsors">
    <div class="content">
      <h5>Sponsors</h5>
      <ul class="sponsors reset">
        {% for sponsor in site.data.sponsors %}
          <li>
            <a href="{{ sponsor.url }}">
              <img src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}'s logo'">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="fgrid__copyright">
    <p>Copyright &copy; 2018 National Black Arts Alliance</p>
  </div>
</div>
