<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Strength of our Mothers</title>
</head>
<body>
  <header class="header">
    <div class="content">
      <a href="/">
        <img src="/assets/icons/logo.svg" alt="SoM Logo" class="header__logo">
      </a>
      {% include navigation.html %}
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="footer">
    {% include footer.html %}
  </footer>
</body>
</html>
