<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.2.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Strength of our Mothers</title>
</head>
<body>
  <header>
    {% include navigation.html %}
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>
