---
layout: default
---
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js"></script>
<script src="/js/trails.js"></script>

{{ content }}

<div id="map"></div>

<script>
  mapboxgl.accessToken = "pk.eyJ1Ijoia2ltYWRhY3R5bCIsImEiOiJCYzdNTTR3In0.hkjyGpEFYdSPrVp3e717eA";

  /* Map: This represents the map on the page. */
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/light-v9",
    zoom:14.5,
    center: [-2.04225,53.51517]
  });

  map.on("load", function () {
    /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
    traildata.features.forEach(function(trail, idx) {
      map.addLayer({
        id: "markers" + idx,
        type: "line",
        /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
        source: {
          type: "geojson",
          data: trail
        }
      });
    })
  });

  var bounds = new mapboxgl.LngLatBounds();

  // Make the map scale to fit everything in
  traildata.features.forEach(function(feature) {
    feature.geometry.coordinates.forEach(function(marker) {
      bounds.extend(marker);
    })
  });
  map.fitBounds(bounds, { padding: 50 });
</script>

</body>
</html>
